<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Места</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<h5>Всего: {{ .Count }}</h5>
<ul>
    {{ range .Places }}
        <li>
        <div>{{ .Name }}</div>
        <div>{{ .Address }}</div>
        <div>{{ .Phone }}</div>
        </li>
    {{ end }}
</ul>

{{ if .Notfirst }}
<a href="/?page={{ .Prev }}">Предыдущая</a>
{{ end }}

{{ if .Notlast }}
<a href="/?page={{ .Next }}">Следующая</a>
<a href="/?page={{ .Last }}">Последняя</a>
{{ end }}

</body>
</html>